.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

form {
  margin-bottom: 20px;
}

.mat-action-row {
  place-content: space-between;
}

.action-button {
  display: flex;
  gap: 20px;
}

.action-button-start {
  justify-content: flex-start;
}

.action-button-end {
  justify-content: flex-end;
}

.hidden {
  display:none;
}
