<header>
  <div class="navbar-left">
    <a href="/"><h1 class="title">Poly Ciné</h1></a>

    <div class="separator"></div>
  </div>

    <div class="navbar-right">
      <nav>
        <ul>
          <li *ngIf="this.authService.isLoggedIn" >
            <a href="/films">Films</a>
          </li>

          <li *ngIf="this.authService.isLoggedIn" >
            <a href="/acteurs">Acteurs</a>
          </li>

          <li *ngIf="this.authService.isLoggedIn" >
            <a href="/personnages">Personnages</a>
          </li>

          <li *ngIf="!this.authService.isLoggedIn">
            <a href="/login">Login</a>
          </li>

          <li>
            <button mat-button color="primary" (click)="logout()" *ngIf="this.authService.isLoggedIn" type="button" class="btn btn-danger nav-button">Se déconnecter</button>
          </li>
        </ul>
      </nav>
    </div>

</header>
