<div class="header">
  <div class="navbar-left">
    <a routerLink="/"><p class="title">PolyCiné</p></a>

    <div class="separator"></div>
  </div>

    <div class="navbar-right">
      <nav>
        <ul>
          <li *ngIf="this.authService.isLoggedIn">
            <a routerLink="/films">Films</a>
          </li>

          <li *ngIf="this.authService.isLoggedIn">
            <a routerLink="/acteurs">Acteurs</a>
          </li>

          <li *ngIf="!this.authService.isLoggedIn">
            <a routerLink="/login">Login</a>
          </li>

          <li>
            <button mat-raised-button color="warn" (click)="logout()" *ngIf="this.authService.isLoggedIn" type="button">Se déconnecter</button>
          </li>
        </ul>
      </nav>
    </div>

</div>
