header {
  display: flex;
  padding: 0.5em;
  margin-bottom: 0.5em;
  background-color: #4285F4;
  color: white;

  a {
    color: white;
    text-decoration: none;
  }
}

.navbar {
  display: flex;
  width: 100%;
  background-color: #104675;
  justify-content: space-between;
  margin-bottom: 1em;
  align-items: center;
  height: 60px;
}

.navbar-left, .navbar-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

p {
  margin-bottom: 0;
}

nav {
  ul {
    display: flex;
    padding: 0;
    margin-left: 1em;

    li {
      display: flex;
      justify-content: center;
      align-items: center;

      list-style: none;
      margin-right: 0.5em;
    }
  }
}

.title {
  font-size: 28px;
  margin-left: 20px;
  font-weight: bold;
  color: white;
}

.separator {
  width: 2px;
  height: 30px;
  background-color: white;
}

.page-title {
  font-size: 24px;
  color: white;
}

.nav-link {
  color: white;
  text-decoration: none;
}

.nav-button {
  background: white;
}
