.header {
  display: flex;
  padding: 15px;
  margin-bottom: 0.5em;
  background-color: #4285F4;
  color: white;

  a {
    color: white;
    text-decoration: none;
    height: auto;
    margin-right: 10px;

    p {
      margin-bottom: 0px;
    }
  }
}

.navbar {
  display: flex;
  width: 100%;
  background-color: #104675;
  justify-content: space-between;
  margin-bottom: 1em;
  align-items: center;
  height: 60px;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

p {
  margin-bottom: 0;
}

nav {
  ul {
    display: flex;
    align-items: center;
    padding: 0;

    li {
      margin-left: 10px;
      list-style: none;

      a {
        font-size: 15px;
      }
    }

    li:last-child {
      right: 0;
      position: absolute;
      margin-right: 10px;
    }
  }
}

.title {
  font-size: 28px;
  margin-left: 20px;
  color: white;
}

.separator {
  width: 2px;
  height: 30px;
  background-color: white;
}

.page-title {
  font-size: 24px;
  color: white;
}

.nav-link {
  color: white;
  text-decoration: none;
}

.nav-button {
  background: white;
}
