<div class="home">
  <h1>Bienvenue</h1>

  <div class="accueil-container">
    <div class="accueil-description">
      <div>
        <h2>Titre 2</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, cupiditate distinctio doloribus est illo maiores nostrum possimus repellendus soluta voluptate! Dolorem labore molestiae odio odit quia quis quo similique voluptates.</p>
      </div>
      <div>
        <h2>Titre 2</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum expedita fuga nemo nulla velit! Accusamus assumenda, corporis doloremque eaque esse facere in, itaque iusto, nemo odit officia repudiandae tempore. Mollitia.</p>
      </div>
    </div>


  </div>
</div>
